*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0f0f0;
    margin-bottom: 100px;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 0;
}

.login-Full-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(Element/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
}

.loginContainer-wrapper{
    display: grid;
    text-align: center;
    margin: 20px 0;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid black;
}

@media (max-width: 768px) {
    .loginContainer-wrapper{
        max-width: 350px;
    }
}

.loginFormContainer input,
.loginSubmitBtn{
    border-radius: 20px;
    width: 100%;
}

.loginFormContainer input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
}

.loginFormContainer input::placeholder{
    color: rgb(87, 87, 87);
}

.loginSubmitBtn{
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 2px solid white;
    cursor: pointer;
}

.login-form-buttom{
    margin: 10px;
    padding-top: 10px;
}

.loginShowText{
    font-size: 16px;
}

.loginShowBtn{
    background: transparent;
    border: none;
    font-size: 17px;
    color: red;
    border-bottom: 2px solid red;
    text-decoration: none;
    cursor: pointer;
}

.loginForget{
    margin-top: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  background-color: red;
  color: white;
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-userInfo{
    display: flex;
    align-items: center;
}

.header-userInfo i{
    margin-right: 5px;
}

.plsLogin-button{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: yellow;
}

.welcome-message{
    font-size: 16px;
    font-weight: 900;
    align-self: center;
}

.header-balance{
    display: flex;
    align-items: center;
    color: gold;
}

.header-userInfo img,
.header-balance img{
    height: 22px;
    width: auto;
    margin-right: 5px;
}

.fa-arrow-left{
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
}

header span{
    font-weight: 900;
    font-size: medium;
}

.header-balance .bx-loader-circle{
    margin: 0 5px;
    -webkit-animation: spin 1.5s linear infinite;
	-moz-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.header-csCover{
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border-left: 3px solid white;
    cursor: pointer;
    font-weight: 900;
}

.header-csCover .fa-headset{
    font-size: 20px;
    align-self: center;
}

.header-csCover p{
    margin-left: 5px;
}

.header-csCover:hover{
    color: yellow;
}

@media (max-width: 768px) {
    .welcome-message{
        font-size: 14px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    display: grid;
    z-index: 1000;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
}

 .bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    flex: 1;
    padding: 5px 0;
}

.pageMenu-Unactive{
    background-color: red;
    color: white;
}

.pageMenu-Active{
    background-color: white;
    color: red;
}

.imgIcon-wrapper{
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex; /* 确保图标容器内的图标也能正确对齐 */
    justify-content: center;
    align-items: center;
}

.imgIcon-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* 图片自适应，保持完整性 */
}

.bottom-nav span{
    margin-top: 5px; /* 给文本增加间距 */
    display: block;
    text-align: center;
}

.bottom-copyRight {
    text-align: center;
    padding: 5px 0;
    background-color: white;
}

.bottom-copyRight p {
    font-size: xx-small;
    color: red;
}

.changePass-Wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.changePass-cover {
    flex: 1; /* 让内容区域占据剩余空间 */
}

.changePass-cover h2{
    color: black;
    margin-bottom: 10px;
}

.changePass-cover input,
.changePass-cover button{
    border-radius: 10px;
    padding: 5px;
}

.changePass-cover input{
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
}

.changePass-wanumber{
    color: rgb(155, 155, 155);
}

.changePass-edit-button{
    width: 100%;
    margin-top: 15px;
    background-color: red;
    color: white;
    border: 1px solid red;
    cursor: pointer;
}

.changePass-edit-button:hover{
    background-color: transparent;
    color: red;
}

.changePass-logout-button{
    align-self: center;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 200px;
    padding: 10px;
    width: 220px;
    color: red;
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}

.changePass-logout-button:hover{
    background-color: red;
    color: white;
}

.reloadPoints-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.reloadPoints-per-item{
    display: grid;
    width: 23%;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reloadPoints-per-top{
    border: 2px solid red;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 175px;
}

.reloadPoints-per-item img{
    height: 100px;
    width: auto;
}

.reloadPoints-points{
    color: red;
}

.reloadPoints-FreePoints{
    font-size: 12px;
    color: black;
}

.reloadPoints-per-item button{
    padding: 5px 0;
    border: 2px solid red;
    border-top: none;
    background: linear-gradient(#aa0808,red);
    color: white;
    font-weight: 900;
}

@media (max-width: 425px) {
    .reloadPoints-per-item{
        width: 47%;
    }
}

#productLoading{
    width: 100%;
    font-size: 250px;
    text-align: center;
    color: red;
}

.loaderImage {
    width: 100%;
    height: auto;
}

.loaderMB {
    display: none;
}

.loaderPC {
    display: block;
}

@media (max-width: 425px) {
    .loaderMB {
        display: block;
    }
    
    .loaderPC {
        display: none;
    }
}

#productLoading .bx-loader-circle{
    -webkit-animation: spin 1.5s linear infinite;
	-moz-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.swiperWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.swiperContainer {
    display: flex;
    transition: transform 0.3s ease; /* 增加平滑过渡 */
    cursor: grab; /* 初始状态下显示抓取手型 */
}

.swiperContainer img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 保证图片适配容器 */
}

.progressBar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 2px;
}

.progressDots {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    z-index: 2;
}

.progressDots div {
    width: 15px;
    height: 7px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
}

.progressDots .active {
    background-color: red; /* 激活点的颜色 */
    width: 25px;
}

.swiperContainer img.dragging {
    opacity: 0.7; /* 拖动时图片透明度降低 */
    transform: scale(1.05); /* 图片轻微缩放 */
}

.home-product-select{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.home-product-select select{
    text-align: center;
    border: 1px solid red;
    padding: 5px 10px;
    font-weight: 900;
    background-color: transparent;
    color: red;
    font-size: medium;
}

.home-product-wrapper{
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 10px;
}

.home-product-wrapper #productContainer,
.home-product-wrapper #productCards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

.home-product-wrapper .product-card {
    background: white;
    width: 23%;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-wrapper{
    overflow: hidden;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home-product-wrapper .image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-wrapper img:hover{
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.home-product-wrapper .product-info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-product-wrapper .name-category {
    display: grid;
    width: 100%;
    text-align: center;
    align-items: center;
}

.home-productName{
    font-size: medium;
    text-align: center;
}

.home-productCategory{
    font-size: x-small;
    text-align: center;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    color: blue;
}

.home-product-wrapper .price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-productPrice{
    font-size: medium;
    color: gold;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: red;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.home-productPrice img {
    width: auto;
    height: 20px;
    margin-right: 3px;
}

.home-productAddCart{
    font-size: 20px; /* 适当调整图标大小 */
    cursor: pointer;
}

.open-productLink{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.open-productLink button{
    font-size: smaller;
    font-weight: 900;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .home-product-wrapper .product-card{
        width: 47%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671); /* 半透明黑色 */
    z-index: 9998; /* 比弹窗低一层 */
    display: none; /* 初始隐藏 */
}

.firstVisit-popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    text-align: center;
}

.firstVisit-popUp img{
    margin: 10px 0;
}

.firstVisit-popUp p{
    margin: 0;
}

.firstVisit-popUp span{
    color: red;
    font-weight: 900;
    font-size: large;
    display: block;
    margin: 5px 0;
}

.firstVisit-popUp button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}

.firstVisit-popUp button:hover {
    background-color: #45a049;
}

.cart-container {
    width: 100%; /* Ensure the container takes 80% width */
    max-width: 1200px; /* Optional: set a max-width for large screens */
    display: flex;
    justify-content: center;
}

.cart-items {
    margin-bottom: 20px;
    width: 90%;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid red;
}

.product-checkbox,
#selectAllCheckbox {
    transform: scale(1.5);
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.cart-item .details {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.cart-item .details .product-name {
    margin-right: 10px;
    color: black;
    font-size: large;
}

.cart-item .details .product-price {
    color: #ffbf00;
    font-weight: 900;
    margin-top: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: medium;
}

.cart-item .actions {
    display: flex;
    align-items: center;
}

.product-price img{
    height: 15px;
    width: auto;
    margin-right: 5px;
}

.cart-item .actions i {
    cursor: pointer;
    font-size: 22px;
    color: red;
}

.ifCartBlank{
    color: red;
    text-align: center;
    margin-top: 50px;
}

.paymentProccessing {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
}

.popupResult-wrapper{
    background-color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 30px 15px;
}

.resultContainer-wrapper {
    display: block;
    display: flex;
    justify-content: center;
}

.resultContainer-wrapper h1 {
    display: block;
    margin-top: 20px;
    font-size: large;
}

.successfullyPay-animation {
    position: relative;
    width: 150px;
    height: 150px;
}

.successPay-greenCover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUp 1s ease-in-out forwards;
}

.successPay-tick {
    position: relative;
    width: 100px;
    height: 50px;
    border-left: 20px solid #fff;
    border-bottom: 20px solid #fff;
    transform: rotate(-45deg) scale(0);
    animation: drawCheckmark 1s ease-in-out 1s forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes drawCheckmark {
    0% {
        transform: rotate(-45deg) scale(0);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}

.UnsuccessfullyPay-animation {
    position: relative;
    width: 150px;
    height: 150px;
}

.UnsuccessPay-redCover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUp 1s ease-in-out forwards;
}

.UnsuccessPay-error {
    position: relative;
    width: 100px; /* 设置容器的宽度 */
    height: 100px; /* 设置容器的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    transform: scale(0);
    transform-origin: center; /* 确保旋转以中心为基准 */
    animation: scaleCross 1s ease-in-out 1s forwards;
}

.cross-1 {
    transform: rotate(45deg) scale(0);
    animation-name: cross1;
}

.cross-2 {
    transform: rotate(-45deg) scale(0);
    animation-name: cross2;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes cross1 {
    0% {
        transform: rotate(45deg) scale(0);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}

@keyframes cross2 {
    0% {
        transform: rotate(-45deg) scale(0);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}



.cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.cart-footer-checkout{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.cart-footer-checkout p{
    margin-left: 10px;
    font-weight: 900;
}

.total-price {
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.total-price span{
    align-items: center;
    align-content: center;
    display: flex;
    color: gold;
}

.total-price img{
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.checkout-button {
    padding: 10px 50px;
    background-color: yellow;
    color: black;
    font-weight: 900;
    font-size: larger;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #acae27;
}

@media (max-width: 425px) {
    .checkout-button {
        padding: 10px 30px;
    }
}

.userInfo-wrapper {
    width: 100%;
    background-color: #aa0808;
    border-bottom: 3px solid #fbbc04;
}

.userInfo-wrapper .topDetails {
    display: flex; /* 启用 flex 布局 */
    align-items: center;
}

.leftImg-Detail {
    flex-shrink: 0;
    padding: 10px 10px 10px 20px;
}

.leftImg-Detail img {
    width: auto;
    height: 100px;
    object-fit: contain;
}

.namePhone-Details {
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    color: white;
}

.fullName-Details{
    font-size: medium;
    font-weight: 900;
    margin-bottom: 5px;
}

.phone-Details{
    display: flex;
    font-size: smaller;
    font-weight: 900;
}

.username-Details{
    display: flex;
    font-size: x-small;
    font-weight: 900;
    margin: 5px 0;
}

.boxLabel{
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    margin-top: 15px;
    display: flex;
    font-weight: 900;
}
